html{ 
  height:100%;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: black;
  background-position: center; 
  transition: 1s;

}
#secretMenuResponse{
  background-image: url("../images/menus/secretMenu.png");
}
#secretLang{
  background-image: url("../images/basicBackground.png");
}
#secretLangRF{
  background-image: url("../images/secret/Secret\ Language_sunroof\ \(2\).png");
}
#secretTrain{
  background-image: url("../images/whistle/whistleMain.png");
}
#video{
  width: 99%;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center; 
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%)
}
#backButton{
  position: absolute;
  left:10%;
  top: 15%;
  z-index: 100;
  width: 2.5vw;
}
#sbackButton{
  position: absolute;
  left:14.5%;
  top: 22%;
  width: 2.5vw;
}
#backButton:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#backButton:focus{
  outline: none;
}
#text{
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 100;
  position: absolute;
  font-family: 'Roboto';
  font-size: 20px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#subtext{
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 100;
  position: absolute;
  font-family: 'Roboto';
  font-size: 16px;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#Traintext{
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 100;
  position: absolute;
  font-family: 'Roboto';
  font-size: 20px;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -100%);
}
#Trainsubtext{
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 300;
  position: absolute;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 'lighter';
  top: 78%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#countDownp{
  display:none;
}
#Trainsubtext{
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  z-index: 100;
  position: absolute;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 'lighter';
  top: 38%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#mic{
  display: block;
  position: absolute;
  font-size: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#load{
  display: block;
  position: absolute;
  font-size: 15px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -300%);
}
#recognizing{
  width: auto;
  display:block;
  text-align: center;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 25%;
  z-index: 100;
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
}
.content_box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  box-sizing: border-box;
  top: 40%;
  left: 47%;
  width: 90px;
  height: 90px;
  border-radius: 90%;
  background: #1a2b41;
  animation: rotateS 2s linear infinite;
}
@keyframes rotateB {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #00b0ff;
  }
  100% {
    border-color: transparent;
  }
}
.circle {
  position: absolute;
  width: 15px;
  height: 50%;
  z-index: 2;
  transform-origin: 50% 100%;
  transform: rotate(0deg);
}
@keyframes rotateS {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box{
  position: absolute;
  top: -1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00b0ff;
  animation: boxS 1.5s linear infinite;
}
@keyframes boxS {
  50% {
    box-shadow: 1px 0 10px rgba(0, 176, 255, .5), -1px 0 10px rgba(0, 176, 255, .5), 0 1px 10px rgba(0, 176, 255, .5), 0 -1px 10px rgba(0, 176, 255, .5);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 176, 255, .5);
  }
}
.background_box{
  position: relative;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}
.b1{
  border-radius: 100% 0 0 0/ 100% 0 0 0;
  background: linear-gradient(rgba(0,176,255,1), rgba(88,94,255,1));
}
.b2{
  border-radius: 0 100% 0 0/ 0 100% 0 0;
  background: linear-gradient(transparent, rgba(78,32,136,1));
}
.b3{
  border-radius: 0 0 0 100%/ 0 0 0 100%;
  background: linear-gradient(rgba(88,94,255,1), rgba(106,26,174,1));
}
.b4{
  border-radius: 0 0 100% 0/ 0 0 100% 0;
  background: linear-gradient( rgba(78,32,136,1),rgba(106,26,174,1));
}
.background{
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background: #06314A;
  border: none;
}
.c1{
  right: 0;
  bottom: 0;
  border-radius: 100% 0 0 0/ 100% 0 0 0;
}
.c2{
  left: 0;
  bottom: 0;
  border-radius: 0 100% 0 0/ 0 100% 0 0;
}
.c3{
  right: 0;
  top: 0;
  border-radius: 0 0 0 100%/ 0 0 0 100%;
}
.c4{
  left: 0;
  top: 0;
  border-radius: 0 0 100% 0/ 0 0 100% 0;
}
#countdown{
  color: white;
  position: absolute;
  top: 43.7%;
  left: 48.7%;
  z-index: 100;
  font-size: 15px;
  font-family: 'Roboto';
}
#countdownRegister{
  color: white;
  position: absolute;
  top: 36.2%;
  left: 49.4%;
  z-index: 100;
  font-size: 25px;
  font-family: 'Roboto';
}
.progress {
  background-color: #03476B;
  margin: 10px;
  width: 330px;
  height: 37px;
  border-radius: 30px;
  display:block;
  margin: 423px auto;
  z-index: 100;
  position: absolute;
  left: 41.5%;
  top:7%;
}
#dynamic {
  background-color: #00DBF7;
  border-radius: 30px;
  width: 0px;
  height: 38px;
}

@media only screen and (max-width: 1460px) {
  #backButton{
    top: 17%;
  }
  #backButton:hover{
    transform: scale(1.07);
  }
  #countdown{  
    top: 45%;
    left: 49.5%;
  }
  .progress {
    background-color: #03476B;
    margin: 10px;
    width: 330px;
    height: 37px;
    border-radius: 30px;
    display:block;
    margin: 423px auto;
    z-index: 100;
    position: absolute;
    left: 38.5%;
    top:-5%;
  }
  #dynamic {
    background-color: #00DBF7;
    width: 0px;
    height: 37px;
  }
  #mic{
    top: 50%;
  }
  #Traintext{
    top: 250px;
    line-height: 28px;
    font-size: 16px;
  }
  #Trainsubtext{
    top:  340px;
  }
}